---
# Secrets
apiVersion: v1
kind: Secret
metadata:
  name: pg
type: Opaque
data:
  user: ZnJlZA== # fred
  pwd: RHVoIQ== # Duh!

---
# PV
apiVersion: v1
kind: PersistentVolume
metadata:
  name: pg
  labels:
    store: db
    type: fast
spec:
  storageClassName: standard
  persistentVolumeReclaimPolicy: Retain
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: /tmp/postgres-lab

---
# PVC
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pg
spec:
  storageClassName: standard
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  selector:
    matchLabels:
      store: db
    matchExpressions:
      - { key: type, operator: In, values: [fast] }

---
# Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pg
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pg
  template:
    metadata:
      labels:
        app: pg
    spec:
      containers:
        - name: pg
          image: postgres:9.6.2-alpine
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: pg
                  key: user
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: pg
                  key: pwd
          ports:
            - name: client
              containerPort: 5432
          resources:
            requests:
              memory: 128Mi
              cpu: 300m
            limits:
              memory: 256Mi
              cpu: 500m
          volumeMounts:
            - name: pg-data
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: pg-data
          persistentVolumeClaim:
            claimName: pg

---
# Service
apiVersion: v1
kind: Service
metadata:
  name: pg
spec:
  selector:
    app: pg
  type: ClusterIP
  ports:
    - name: client
      port: 5432
